<h1>App componente padre</h1>
<p-chip icon="pi pi-book">
  <a routerLink="/empleado">Empleado</a>
</p-chip>
<b>|</b>
<p-chip icon="pi pi-user">
  <a routerLink="/pokemon">Pokemon</a>
</p-chip>
<p-chip icon="pi pi-pencil">
  <a routerLink="/caterpie">Caterpie Pokemon</a>
</p-chip>
<router-outlet></router-outlet>
<!-- llevar el bojeto empleado -->
<!-- <app-empleado (enviarEmpleado)="recibirEmpleado($event)"></app-empleado> -->
<!-- componente lsitaempleado -->
<!-- <app-lista-empleado></app-lista-empleado> -->
<!-- <app-pokemon></app-pokemon> -->


<!-- ctrl + k + c -->
